.breadcrumbs {
  @apply py-2;
}
  .breadcrumbs > ul > li > a:focus {
          @apply outline-none;
        }
  .breadcrumbs > ul > li > a:focus-visible {
          outline: 2px solid currentColor;
          outline-offset: 2px;
        }
  .breadcrumbs > ul > li + *:before {
        content: "";
        @apply ml-2 mr-3 block h-1.5 w-1.5 rotate-45 transform opacity-40;
        border-top: 1px solid;
        border-right: 1px solid;
        background-color: transparent;
      }

[dir="rtl"] .breadcrumbs>ul>li+*:before {
  --un-rotate: -45deg;
}