.radio {
  --chkbg: var(--bc);
  @apply h-6 w-6 cursor-pointer appearance-none rounded-full border border-base-content border-opacity-20;
  transition: background, box-shadow var(--animation-input, 0.2s) ease-in-out;
}
  .radio:focus-visible {
    outline: 2px solid hsl(var(--bc));
    outline-offset: 2px;
  }
  .radio:checked,
  .radio[aria-checked=true] {
    @apply bg-base-content;
    animation: radiomark var(--animation-input, 0.2s) ease-in-out;
    box-shadow: 0 0 0 4px hsl(var(--b1)) inset, 0 0 0 4px hsl(var(--b1)) inset;
  }
  .radio-primary {
    --chkbg: var(--p);
    @apply border-primary hover:border-primary;
  }
  .radio-primary:focus-visible {
      outline: 2px solid hsl(var(--p));
    }
  .radio-primary:checked,
    .radio-primary[aria-checked=true] {
      @apply border-primary bg-primary text-primary-content;
    }
  .radio-secondary {
    --chkbg: var(--s);
    @apply border-secondary hover:border-secondary;
  }
  .radio-secondary:focus-visible {
      outline: 2px solid hsl(var(--s));
    }
  .radio-secondary:checked,
    .radio-secondary[aria-checked=true] {
      @apply border-secondary bg-secondary text-secondary-content;
    }
  .radio-accent {
    --chkbg: var(--a);
    @apply border-accent hover:border-accent;
  }
  .radio-accent:focus-visible {
      outline: 2px solid hsl(var(--a));
    }
  .radio-accent:checked,
    .radio-accent[aria-checked=true] {
      @apply border-accent bg-accent text-accent-content;
    }
  .radio-success {
    --chkbg: var(--su);
    @apply border-success hover:border-success;
  }
  .radio-success:focus-visible {
      outline: 2px solid hsl(var(--su));
    }
  .radio-success:checked,
    .radio-success[aria-checked=true] {
      @apply border-success bg-success text-success-content;
    }
  .radio-warning {
    --chkbg: var(--wa);
    @apply border-warning hover:border-warning;
  }
  .radio-warning:focus-visible {
      outline: 2px solid hsl(var(--wa));
    }
  .radio-warning:checked,
    .radio-warning[aria-checked=true] {
      @apply border-warning bg-warning text-warning-content;
    }
  .radio-info {
    --chkbg: var(--in);
    @apply border-info hover:border-info;
  }
  .radio-info:focus-visible {
      outline: 2px solid hsl(var(--in));
    }
  .radio-info:checked,
    .radio-info[aria-checked=true] {
      @apply border-info bg-info text-info-content;
    }
  .radio-error {
    --chkbg: var(--er);
    @apply border-error hover:border-error;
  }
  .radio-error:focus-visible {
      outline: 2px solid hsl(var(--er));
    }
  .radio-error:checked,
    .radio-error[aria-checked=true] {
      @apply border-error bg-error text-error-content;
    }
  .radio:disabled {
    @apply cursor-not-allowed opacity-20;
  }

@keyframes radiomark {
  0% {
    box-shadow: 0 0 0 12px hsl(var(--b1)) inset, 0 0 0 12px hsl(var(--b1)) inset;
  }
  50% {
    box-shadow: 0 0 0 3px hsl(var(--b1)) inset, 0 0 0 3px hsl(var(--b1)) inset;
  }
  100% {
    box-shadow: 0 0 0 4px hsl(var(--b1)) inset, 0 0 0 4px hsl(var(--b1)) inset;
  }
}

/* backward comptability */
.radio-mark {
  @apply hidden;
}
