[data-theme=acid] {
	--p: 303, 100%, 50%;
	--pf: 303, 100%, 40%;
	--sf: 27, 100%, 40%;
	--af: 72, 98%, 40%;
	--nf: 238, 43%, 14%;
	--b2: 0, 0%, 88%;
	--b3: 0, 0%, 79%;
	--bc: 0, 0%, 20%;
	--pc: 303, 100%, 90%;
	--sc: 27, 100%, 10%;
	--ac: 72, 100%, 10%;
	--nc: 238, 99%, 83%;
	--inc: 210, 100%, 12%;
	--suc: 149, 100%, 12%;
	--wac: 53, 100%, 11%;
	--erc: 1, 100%, 89%;
	--animation-btn: 0.25s;
	--animation-input: .2s;
	--btn-text-case: uppercase;
	--btn-focus-scale: 0.95;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0.5rem;
	--s: 27, 100%, 50%;
	--a: 72, 98%, 50%;
	--n: 238, 43%, 17%;
	--b1: 0, 0%, 98%;
	--in: 210, 92%, 58%;
	--su: 149, 50%, 58%;
	--wa: 53, 93%, 57%;
	--er: 1, 100%, 45%;
	--rounded-box: 1.25rem;
	--rounded-btn: 1rem;
	--rounded-badge: 1rem;
}