[data-theme=aqua] {
	--p: 182, 93%, 49%;
	--pf: 182, 93%, 40%;
	--sf: 274, 31%, 45%;
	--af: 47, 100%, 64%;
	--nf: 205, 54%, 40%;
	--b2: 219, 53%, 39%;
	--b3: 219, 53%, 35%;
	--bc: 219, 100%, 89%;
	--sc: 274, 100%, 91%;
	--ac: 47, 100%, 16%;
	--nc: 205, 100%, 90%;
	--inc: 221, 100%, 91%;
	--suc: 142, 100%, 87%;
	--wac: 32, 100%, 9%;
	--erc: 0, 100%, 90%;
	--rounded-box: 1rem;
	--rounded-btn: 0.5rem;
	--rounded-badge: 1.9rem;
	--animation-btn: 0.25s;
	--animation-input: .2s;
	--btn-text-case: uppercase;
	--btn-focus-scale: 0.95;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0.5rem;
	--pc: 181, 100%, 17%;
	--s: 274, 31%, 57%;
	--a: 47, 100%, 80%;
	--n: 205, 54%, 50%;
	--b1: 219, 53%, 43%;
	--in: 221, 83%, 53%;
	--su: 142, 76%, 36%;
	--wa: 32, 95%, 44%;
	--er: 0, 72%, 51%;
}