[data-theme=business] {
	--p: 210, 64%, 31%;
	--pf: 210, 64%, 24%;
	--sf: 200, 13%, 44%;
	--af: 13, 80%, 48%;
	--nf: 213, 14%, 13%;
	--b2: 0, 0%, 11%;
	--b3: 0, 0%, 10%;
	--bc: 0, 0%, 83%;
	--pc: 210, 100%, 86%;
	--sc: 200, 100%, 11%;
	--ac: 13, 100%, 12%;
	--nc: 213, 28%, 83%;
	--inc: 199, 100%, 88%;
	--suc: 144, 100%, 11%;
	--wac: 39, 100%, 12%;
	--erc: 6, 100%, 89%;
	--animation-btn: 0.25s;
	--animation-input: .2s;
	--btn-text-case: uppercase;
	--btn-focus-scale: 0.95;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0.5rem;
	--s: 200, 13%, 55%;
	--a: 13, 80%, 60%;
	--n: 213, 14%, 16%;
	--b1: 0, 0%, 13%;
	--in: 199, 100%, 42%;
	--su: 144, 31%, 56%;
	--wa: 39, 64%, 60%;
	--er: 6, 56%, 43%;
	--rounded-box: 0.25rem;
	--rounded-btn: .125rem;
	--rounded-badge: .125rem;
}