[data-theme=cmyk] {
	--p: 203, 83%, 60%;
	--pf: 203, 83%, 48%;
	--sf: 335, 78%, 48%;
	--af: 56, 100%, 48%;
	--nf: 0, 0%, 8%;
	--b2: 0, 0%, 90%;
	--b3: 0, 0%, 81%;
	--bc: 0, 0%, 20%;
	--pc: 203, 100%, 12%;
	--sc: 335, 100%, 92%;
	--ac: 56, 100%, 12%;
	--nc: 0, 0%, 82%;
	--inc: 192, 100%, 10%;
	--suc: 291, 100%, 88%;
	--wac: 25, 100%, 11%;
	--erc: 4, 100%, 91%;
	--rounded-box: 1rem;
	--rounded-btn: 0.5rem;
	--rounded-badge: 1.9rem;
	--animation-btn: 0.25s;
	--animation-input: .2s;
	--btn-text-case: uppercase;
	--btn-focus-scale: 0.95;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0.5rem;
	--s: 335, 78%, 60%;
	--a: 56, 100%, 60%;
	--n: 0, 0%, 10%;
	--b1: 0, 0%, 100%;
	--in: 192, 48%, 52%;
	--su: 291, 48%, 38%;
	--wa: 25, 85%, 57%;
	--er: 4, 81%, 56%;
}