[data-theme=coffee] {
	--p: 30, 67%, 58%;
	--pf: 30, 67%, 46%;
	--sf: 182, 25%, 16%;
	--af: 194, 74%, 20%;
	--nf: 300, 20%, 5%;
	--b2: 306, 19%, 10%;
	--b3: 306, 19%, 9%;
	--pc: 30, 100%, 12%;
	--sc: 182, 67%, 84%;
	--ac: 194, 100%, 85%;
	--nc: 300, 14%, 81%;
	--inc: 171, 100%, 13%;
	--suc: 93, 100%, 12%;
	--wac: 43, 100%, 14%;
	--erc: 10, 100%, 15%;
	--rounded-box: 1rem;
	--rounded-btn: 0.5rem;
	--rounded-badge: 1.9rem;
	--animation-btn: 0.25s;
	--animation-input: .2s;
	--btn-text-case: uppercase;
	--btn-focus-scale: 0.95;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0.5rem;
	--s: 182, 25%, 20%;
	--a: 194, 74%, 25%;
	--n: 300, 20%, 6%;
	--b1: 306, 19%, 11%;
	--bc: 37, 8%, 42%;
	--in: 171, 37%, 67%;
	--su: 93, 25%, 62%;
	--wa: 43, 100%, 69%;
	--er: 10, 95%, 75%;
}