[data-theme=corporate] {
	--p: 229, 96%, 64%;
	--pf: 229, 96%, 51%;
	--sf: 215, 26%, 47%;
	--af: 154, 49%, 48%;
	--nf: 233, 27%, 10%;
	--b2: 0, 0%, 90%;
	--b3: 0, 0%, 81%;
	--in: 198, 93%, 60%;
	--su: 158, 64%, 52%;
	--wa: 43, 96%, 56%;
	--er: 0, 91%, 71%;
	--pc: 229, 100%, 93%;
	--sc: 215, 100%, 12%;
	--ac: 154, 100%, 12%;
	--inc: 198, 100%, 12%;
	--suc: 158, 100%, 10%;
	--wac: 43, 100%, 11%;
	--erc: 0, 100%, 14%;
	--btn-text-case: uppercase;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0.5rem;
	--s: 215, 26%, 59%;
	--a: 154, 49%, 60%;
	--n: 233, 27%, 13%;
	--nc: 210, 38%, 95%;
	--b1: 0, 0%, 100%;
	--bc: 233, 27%, 13%;
	--rounded-box: 0.25rem;
	--rounded-btn: .125rem;
	--rounded-badge: .125rem;
	--animation-btn: 0;
	--animation-input: 0;
	--btn-focus-scale: 1;
}