[data-theme=halloween] {
	--p: 32, 89%, 52%;
	--pf: 32, 89%, 42%;
	--sf: 271, 46%, 34%;
	--af: 91, 100%, 26%;
	--nf: 180, 4%, 9%;
	--b2: 0, 0%, 12%;
	--b3: 0, 0%, 10%;
	--bc: 0, 0%, 83%;
	--sc: 271, 100%, 88%;
	--ac: 91, 100%, 7%;
	--nc: 180, 5%, 82%;
	--inc: 221, 100%, 91%;
	--suc: 142, 100%, 87%;
	--wac: 32, 100%, 9%;
	--erc: 0, 100%, 90%;
	--rounded-box: 1rem;
	--rounded-btn: 0.5rem;
	--rounded-badge: 1.9rem;
	--animation-btn: 0.25s;
	--animation-input: .2s;
	--btn-text-case: uppercase;
	--btn-focus-scale: 0.95;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0.5rem;
	--pc: 180, 7%, 8%;
	--s: 271, 46%, 42%;
	--a: 91, 100%, 33%;
	--n: 180, 4%, 11%;
	--b1: 0, 0%, 13%;
	--in: 221, 83%, 53%;
	--su: 142, 76%, 36%;
	--wa: 32, 95%, 44%;
	--er: 0, 72%, 51%;
}