[data-theme=lemonade] {
	--p: 89, 96%, 31%;
	--pf: 89, 96%, 24%;
	--sf: 60, 81%, 44%;
	--af: 63, 80%, 71%;
	--nf: 238, 43%, 14%;
	--b2: 0, 0%, 90%;
	--b3: 0, 0%, 81%;
	--bc: 0, 0%, 20%;
	--pc: 89, 100%, 86%;
	--sc: 60, 100%, 11%;
	--ac: 63, 100%, 18%;
	--nc: 238, 99%, 83%;
	--inc: 192, 79%, 17%;
	--suc: 74, 100%, 16%;
	--wac: 50, 100%, 15%;
	--erc: 1, 100%, 17%;
	--rounded-box: 1rem;
	--rounded-btn: 0.5rem;
	--rounded-badge: 1.9rem;
	--animation-btn: 0.25s;
	--animation-input: .2s;
	--btn-text-case: uppercase;
	--btn-focus-scale: 0.95;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0.5rem;
	--s: 60, 81%, 55%;
	--a: 63, 80%, 88%;
	--n: 238, 43%, 17%;
	--b1: 0, 0%, 100%;
	--in: 192, 39%, 85%;
	--su: 74, 76%, 79%;
	--wa: 50, 87%, 75%;
	--er: 1, 70%, 83%;
}