[data-theme=luxury] {
	--p: 0, 0%, 100%;
	--pf: 0, 0%, 80%;
	--sf: 218, 54%, 14%;
	--af: 319, 22%, 21%;
	--nf: 270, 4%, 7%;
	--pc: 0, 0%, 20%;
	--sc: 218, 100%, 84%;
	--ac: 319, 85%, 85%;
	--inc: 202, 100%, 14%;
	--suc: 89, 100%, 10%;
	--wac: 54, 100%, 13%;
	--erc: 0, 100%, 14%;
	--rounded-box: 1rem;
	--rounded-btn: 0.5rem;
	--rounded-badge: 1.9rem;
	--animation-btn: 0.25s;
	--animation-input: .2s;
	--btn-text-case: uppercase;
	--btn-focus-scale: 0.95;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0.5rem;
	--s: 218, 54%, 18%;
	--a: 319, 22%, 26%;
	--n: 270, 4%, 9%;
	--nc: 37, 67%, 58%;
	--b1: 240, 10%, 4%;
	--b2: 270, 4%, 9%;
	--b3: 270, 2%, 18%;
	--bc: 37, 67%, 58%;
	--in: 202, 100%, 70%;
	--su: 89, 62%, 52%;
	--wa: 54, 69%, 64%;
	--er: 0, 100%, 72%;
}