[data-theme=retro] {
	--p: 3, 74%, 76%;
	--pf: 3, 74%, 61%;
	--sf: 145, 27%, 58%;
	--af: 49, 67%, 61%;
	--nf: 42, 17%, 34%;
	--inc: 221, 100%, 91%;
	--suc: 142, 100%, 87%;
	--wac: 32, 100%, 9%;
	--erc: 0, 100%, 90%;
	--animation-btn: 0.25s;
	--animation-input: .2s;
	--btn-text-case: uppercase;
	--btn-focus-scale: 0.95;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0.5rem;
	--pc: 345, 5%, 15%;
	--s: 145, 27%, 72%;
	--sc: 345, 5%, 15%;
	--a: 49, 67%, 76%;
	--ac: 345, 5%, 15%;
	--n: 42, 17%, 42%;
	--nc: 45, 47%, 80%;
	--b1: 45, 47%, 80%;
	--b2: 45, 37%, 72%;
	--b3: 42, 36%, 65%;
	--bc: 345, 5%, 15%;
	--in: 221, 83%, 53%;
	--su: 142, 76%, 36%;
	--wa: 32, 95%, 44%;
	--er: 0, 72%, 51%;
	--rounded-box: 0.4rem;
	--rounded-btn: 0.4rem;
	--rounded-badge: 0.4rem;
}