[data-theme=synthwave] {
	--p: 321, 70%, 69%;
	--pf: 321, 70%, 55%;
	--sf: 197, 87%, 52%;
	--af: 48, 89%, 46%;
	--nf: 253, 61%, 15%;
	--b2: 254, 59%, 23%;
	--b3: 254, 59%, 21%;
	--pc: 321, 100%, 14%;
	--sc: 197, 100%, 13%;
	--ac: 48, 100%, 11%;
	--rounded-box: 1rem;
	--rounded-btn: 0.5rem;
	--rounded-badge: 1.9rem;
	--animation-btn: 0.25s;
	--animation-input: .2s;
	--btn-text-case: uppercase;
	--btn-focus-scale: 0.95;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0.5rem;
	--s: 197, 87%, 65%;
	--a: 48, 89%, 57%;
	--n: 253, 61%, 19%;
	--nc: 260, 60%, 98%;
	--b1: 254, 59%, 26%;
	--bc: 260, 60%, 98%;
	--in: 199, 87%, 64%;
	--inc: 257, 63%, 17%;
	--su: 168, 74%, 68%;
	--suc: 257, 63%, 17%;
	--wa: 48, 89%, 57%;
	--wac: 257, 63%, 17%;
	--er: 352, 74%, 57%;
	--erc: 260, 60%, 98%;
}