[data-theme=valentine] {
	--p: 353, 74%, 67%;
	--pf: 353, 74%, 54%;
	--sf: 254, 86%, 61%;
	--af: 181, 56%, 56%;
	--nf: 336, 43%, 38%;
	--b2: 318, 46%, 80%;
	--b3: 318, 46%, 72%;
	--pc: 353, 100%, 13%;
	--sc: 254, 100%, 15%;
	--ac: 181, 100%, 14%;
	--inc: 221, 100%, 91%;
	--suc: 142, 100%, 87%;
	--wac: 32, 100%, 9%;
	--erc: 0, 100%, 90%;
	--rounded-box: 1rem;
	--rounded-badge: 1.9rem;
	--animation-btn: 0.25s;
	--animation-input: .2s;
	--btn-text-case: uppercase;
	--btn-focus-scale: 0.95;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0.5rem;
	--s: 254, 86%, 77%;
	--a: 181, 56%, 70%;
	--n: 336, 43%, 48%;
	--nc: 318, 46%, 89%;
	--b1: 318, 46%, 89%;
	--bc: 344, 38%, 28%;
	--in: 221, 83%, 53%;
	--su: 142, 76%, 36%;
	--wa: 32, 95%, 44%;
	--er: 0, 72%, 51%;
	--rounded-btn: 1.9rem;
}