.indicator {
  @apply relative inline-flex;
  width: -moz-max-content;
  width: max-content;
}
  .indicator :where(.indicator-item) {
    z-index: 1;
    @apply absolute transform whitespace-nowrap;
  }
